<div class="row flex justify-content-around wrap mt-5">
  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/diamond castle.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie e o Castelo de Diamantes</h5>
      <p class="card-text">Barbie e Teresa vivem em um chalezinho na floresta. Um dia elas encontram um espelho encantado, que aprisiona uma das 3 musas da músisa dentro do espelho. Juntas, embarcaram em uma grande aventura para salvar a mais nova amiga.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/a princesa e a plebeia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie - A Princesa e a Plebeia</h5>
      <p class="card-text">Barbie vem à vida nesta moderna versão de um conto clássico sobre identidades trocadas e o poder da amizade. Baseado na história de Mark Twain, Barbie em uma surpreendente papel duplo como uma princesa e uma pobre garota de vila - duas garotas que possuem uma semelhança surpreendente!</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_em_O_Quebra-Nozes1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie em O Quebra-Nozes</h5>
      <p class="card-text">Como que por magia, Barbie ganha vida nesta prodigiosa adaptação do conto clássico de Hoffman, animado por computador. A história inicia-se quando Clara (Barbie) recebe um belo Quebra-Nozes de madeira como presente de sua tia favorita. Nessa noite, o Quebra-Nozes ganha vida para expulsar o Rei dos Ratos, que invadiu os aposentos de Clara.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>
  </div>

  <div class="row flex justify-content-around wrap mt-5 mb-5">
  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_Fairytopia_2005.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie Fairytopia</h5>
      <p class="card-text">A história se passa em Fairytopia, um mundo mágico, no qual Barbie é a fada Elina, que mora numa flor. Um dia a sua casa-flor adoece, e as outras fadinhas não conseguem mais voar. Munida de coragem e determinação, Barbie sai em busca de Azura, a Fada-Guardiã, que talvez possa ajudá-la.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/barbie-12princesasbailarinas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie em As Doze Princesas Bailarinas</h5>
      <p class="card-text">Quando a malvada tia Rowena se muda para o castelo, ela proíbe que as princesas dancem ou cantem para sempre, pois ela acredita que não é o tipo de comportamento apropriado para uma princesa.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/barbie-mermaidia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie Fairytopia 2 - Mermaidia</h5>
      <p class="card-text">Elina é uma bela fada do campo que vive em Fairytopia, um mundo mágico povoado de fadas e seres encantados. Ela finalmente ganha um par de asas para poder voar e ser como as outras fadas!</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>
  </div>



<!-- ------------------------------------------------------------------------------------------ -->

<div class="row flex justify-content-around wrap mt-5">
  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_CancaoDeNatal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie em Canção de Natal</h5>
      <p class="card-text">No filme, Barbie é Eden Starling, uma glamurosa cantora de um teatro londrino. Acompanhada de seu gato Chuzzlewit, a personagem planeja fazer com que todos os artistas do local permaneçam e ensaiem para o tão esperado Dia de Natal.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_SapatilhasMagicas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie e as Sapatilhas Mágicas</h5>
      <p class="card-text">Dance com Barbie nesta mágica aventura. Barbie é Kristyn, uma bailarina que tem grandes sonhos. Quando ela calça um par de sapatilhas pink brilhante, Kristyn e sua melhor amiga Hailey vão, de uma maneira mágica, para o fantástico mundo do balé</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_Mariposa_and_Her_Butterfly_Friends.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie Butterfly - Uma Nova Aventura em Fairytopia</h5>
      <p class="card-text">Butterfly é uma Fada-Borboleta que ama ler e sonhar sobre o mundo. Flutterfield, sua terra natal, é protegida pelas brilhantes luzes mágicas da Rainha. Mas, quando a Rainha é envenenada pela perversa fada Henna, as luzes especiais começam a sumir.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>
  </div>

  <div class="row flex justify-content-around wrap mt-5 mb-5">
  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_SegresoDasFadas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie e O Segredo das Fadas</h5>
      <p class="card-text">Uma aventura fantástica, onde Barbie descobre que há fadas vivendo secretamente à nossa volta!
        Quando Ken é levado, repentinamente, por um grupo de fadas, as duas amigas estilistas de Barbie revelam que são na realidade fadas e que Ken foi levado para um mundo mágico secreto não muito distante!</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_PrincesadaIlha.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie em a Princesa da Ilha</h5>
      <p class="card-text">A princesa Rosella, ainda criança, sofre um naufrágio e vai parar em uma ilha. Lá, ela aprende a cantar e falar com uma adorável família de animais, que inclui Sagi, um panda vermelho, Azul, o pavão, e Tika, o bebê elefante. Inesperadamente, Rosella conhece o príncipe para o seu castelo.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>

  <div class="card fluid" style="width: 18rem;">
    <img src="assets/img/Barbie_ModaEMagia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbie - Moda e Magia</h5>
      <p class="card-text">Barbie parece ter tudo: grandes amigos, boas notas, um namorado fantástico, uma carreira de sucesso como atriz, beleza, inteligência, riqueza... mas um dia tudo dá errado. Além das pessoas dozerem coisas terríveis sobre a sua atuação, Ken acaba o namoro com ela.</p>
      <a href="#" class="btn btn-primary" style="background-color: #ff53b2; border: none;">Assista agora!</a>
    </div>
  </div>
  </div>
