@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


h1
{
  font-family: 'Allison', cursive;
  font-weight: 600;
  font-size: 100px;
}

p{
  font-family: 'Montserrat', sans-serif;
}
